.band-tile-container {
    margin: 20px;
}

.band-tile {
    background-color: skyblue;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
}

.band-name-text {
   font-size: 30px;
   margin-bottom: 0px;
}

.update-band-form {
    margin-bottom: 1rem;
}