.field {
    width: 40%;
    text-align: center;
    margin: auto;
}

.add-button {
    width: 40%;
    text-align: center;
    margin: 0 27rem;
    color: white;
    background-color: #1779BA;
    padding: 12.24px 14.4px;
}