.review-tile{
    border: 2px solid black;
    margin: 1rem 0px;
    overflow-wrap: break-word;
}

.review {
    display: flex;
    align-content:center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 1rem;
}

.review-button {
    display: flex;
    align-content:center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 1rem;
    width: 20%;
}