.review-tile{
    border: 2px solid black;
    margin: 1rem 0px;
}

.review {
    display: flex;
    align-content:center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 1rem;
}